.about {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b2d30; /* Light blue */
    width: 100vw; /* Ensure full width */
    box-sizing: border-box;
}

.author-photo {
    width: 200px; /* Increased size */
    height: 200px; /* Increased size */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
